<configuration debug="false">

	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS, America/Chicago} [%thread] %-5level %msg%n</pattern>
		</encoder>
	</appender>

	<root level="info" >
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>
