<configuration scan="false" scanPeriod="120 seconds" debug="false">


	<property name="LOG_DIR" value="log" />
	<property name="LOG_FILE" value="ofclient.log" />

	<appender name="LOG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/${LOG_FILE}</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/${LOG_FILE}.%d</fileNamePattern>
			<maxHistory>14</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSS, America/Chicago} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS, America/Chicago} [%thread] %msg%n</pattern>
		</encoder>
	</appender>

	<root level="info" >
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="LOG" />
	</root>

</configuration>
